.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  max-width: 980px;
  margin: 0 auto;
}

.container__page-title {
  width: 371px;
  height: 155px;
  margin-top: 60px;
}

.features {
  width: 100%;
}

.features__title {

}

.features__title.features__title_visually-hidden {
  display: none;
}

.features__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__title {
  font-size: 30px;
  margin: 0;
}

.feature__square {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotateZ(45deg);
  margin-top: 22px;
}

.feature__description {
  width: 253px;
  font-size: 14px;
  text-align: center;
  margin-top: 31px;
}